<h1>{{title}}</h1>

<section>
    <div>
        <img src="//via.placeholder.com/768x576">
    </div>
    <div>
        {{#each items}}
            <a href="#">
                <svg>
                    <use href="#{{icon}}"/>
                </svg>
                <p>{{title}}</p>
                <svg>
                    <use href="#arrow"/>
                </svg>
            </a>
        {{/each}}
    </div>
</section>

