.Bgc\(white\) {
  background-color: white;
}
.C\(\#000000\) {
  color: #000000;
}
.C\(brand\) {
  color: #ce0303;
}
.C\(grey\) {
  color: grey;
}
.D\(f\) {
  display: flex;
}
.Flxg\(1\) {
  flex-grow: 1;
}
.Flxs\(0\) {
  flex-shrink: 0;
}
.Flxb\(100\%\) {
  flex-basis: 100%;
}
.Ai\(c\) {
  align-items: center;
}
.Flw\(w\) {
  flex-wrap: wrap;
}
.Fw\(400\) {
  font-weight: 400;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(RWD-large\) {
  font-size: 28px;
}
.H\(0\) {
  height: 0;
}
.H\(24px\) {
  height: 24px;
}
.H\(45px\) {
  height: 45px;
}
.My\(0\) {
  margin-top: 0;
  margin-bottom: 0;
}
.Mend\(a\) {
  margin-right: auto;
}
.Mstart\(0\) {
  margin-left: 0;
}
.Mstart\(1em\) {
  margin-left: 1em;
}
.Mstart\(a\) {
  margin-left: auto;
}
.T\(0\) {
  top: 0;
}
.P\(15px\) {
  padding: 15px;
}
.Pt\(75\%\) {
  padding-top: 75%;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(c\) {
  text-align: center;
}
.Td\(n\) {
  text-decoration: none;
}
.W\(100\%\) {
  width: 100%;
}
.W\(24px\) {
  width: 24px;
}
.W\(45px\) {
  width: 45px;
}
.Fill\(cc\) {
  fill: currentColor;
}
@media (min-width: 576px) {
  .Flxb\(50\%\)--sm {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  .Flxb\(100\%\)--md {
    flex-basis: 100%;
  }
  .Flxb\(50\%\)--md {
    flex-basis: 50%;
  }
  .Or\(2\)--md {
    order: 2;
  }
  .Flw\(w\)--md {
    flex-wrap: wrap;
  }
  .Fz\(RWD-large\) {
    font-size: 40px;
  }
  .H\(60px\)--md {
    height: 60px;
  }
  .H\(a\)--md {
    height: auto;
  }
  .Mend\(a\)--md {
    margin-right: auto;
  }
  .Mstart\(a\)--md {
    margin-left: auto;
  }
  .Mah\(500px\)--md {
    max-height: 500px;
  }
  .Pt\(0\)--md {
    padding-top: 0;
  }
  .Pos\(r\)--md {
    position: relative;
  }
  .W\(60px\)--md {
    width: 60px;
  }
}
