.Bgc\(white\) {
  background-color: white;
}
.C\(\#000000\) {
  color: #000000;
}
.C\(brand\) {
  color: #ce0303;
}
.C\(grey\) {
  color: grey;
}
.D\(f\) {
  display: flex;
}
.Flxg\(1\) {
  flex-grow: 1;
}
.Flxs\(0\) {
  flex-shrink: 0;
}
.Flxb\(50\%\) {
  flex-basis: 50%;
}
.Ai\(c\) {
  align-items: center;
}
.Or\(2\) {
  order: 2;
}
.Jc\(c\) {
  justify-content: center;
}
.Flw\(w\) {
  flex-wrap: wrap;
}
.Fw\(400\) {
  font-weight: 400;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(RWD-large\) {
  font-size: 28px;
}
.H\(0\) {
  height: 0;
}
.H\(100\%\) {
  height: 100%;
}
.H\(24px\) {
  height: 24px;
}
.H\(45px\) {
  height: 45px;
}
.My\(0\.5em\) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.Mend\(a\) {
  margin-right: auto;
}
.Mstart\(1em\) {
  margin-left: 1em;
}
.P\(15px\) {
  padding: 15px;
}
.Pt\(75\%\) {
  padding-top: 75%;
}
.Pos\(r\) {
  position: relative;
}
.Ta\(c\) {
  text-align: center;
}
.Td\(n\) {
  text-decoration: none;
}
.W\(100\%\) {
  width: 100%;
}
.W\(24px\) {
  width: 24px;
}
.W\(45px\) {
  width: 45px;
}
.Fill\(cc\) {
  fill: currentColor;
}
.StretchedBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 576px) {
  .D\(f\)--sm {
    display: flex;
  }
}
@media (min-width: 768px) {
  .D\(f\)--md {
    display: flex;
  }
  .Flxb\(100\%\)--md {
    flex-basis: 100%;
  }
  .Flw\(w\)--md {
    flex-wrap: wrap;
  }
  .Fz\(RWD-large\) {
    font-size: 40px;
  }
  .H\(60px\)--md {
    height: 60px;
  }
  .H\(a\)--md {
    height: auto;
  }
  .Mstart\(a\)--md {
    margin-left: auto;
  }
  .Pt\(0\)--md {
    padding-top: 0;
  }
  .W\(60px\)--md {
    width: 60px;
  }
}
